<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kurumi.mapper.StdDiseaseMapper" >

   <resultMap id="BaseResultMap" type="com.kurumi.pojo.StdDisease" >
    <id column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="en_name" property="enName" jdbcType="VARCHAR" />
    <result column="alias_name" property="aliasName" jdbcType="VARCHAR" />
    <result column="alias_name_index" property="aliasNameIndex" jdbcType="VARCHAR" />
    <result column="index_code" property="indexCode" jdbcType="VARCHAR" />
    
    <result column="fit_man_code_flag" property="fitManCodeFlag" jdbcType="CHAR" />
    <result column="fit_woman_code_flag" property="fitWomanCodeFlag" jdbcType="CHAR" />
    <result column="un_death_flag" property="unDeathFlag" jdbcType="CHAR" />
    <result column="un_primary_flag" property="unPrimaryFlag" jdbcType="CHAR" />
    <result column="clinical_diag" property="clinicalDiag" jdbcType="VARCHAR" />
    
    <result column="clinical_diag_index" property="clinicalDiagIndex" jdbcType="VARCHAR" />
    <result column="attention_flag" property="attentionFlag" jdbcType="CHAR" />
    <result column="attention_comment" property="attentionComment" jdbcType="VARCHAR" />
    <result column="std_region_code" property="regionCode" jdbcType="VARCHAR" />
    <result column="std_province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="international_disease_version" property="interDiseaseVersion" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    
  </resultMap>
 
   <select id="getDiseasesByDiseaseQuery" resultType="map" parameterType="com.kurumi.query.DiseaseQuery">
  	select * from std_disease disease where 1=1
  	<if test="name!=null">
  	 	and disease.name like CONCAT('%',#{name},'%')  
  	</if>
  	 <if test="code != null">
  	 	and disease.code like CONCAT('%',#{code},'%')  
  	</if>
  	 <if test="indexCode != null">
  	 	and disease.index_code like CONCAT('%',#{indexCode},'%') 
  	</if>
  	order by disease.code
  	<if test="currentStartNum != null and pageSize != null" >
     	limit #{currentStartNum},#{pageSize}
     </if>
  </select>
  
   <select id="getDiseasesCountByDiseaseQuery" parameterType="com.kurumi.query.DiseaseQuery" resultType="java.lang.Integer">
  	select count(code) from std_disease disease  where 1=1
   	<if test="name!=null">
  	 	and disease.name like CONCAT('%',#{name},'%')  
  	</if>
  	 <if test="code != null">
  	 	and disease.code like CONCAT('%',#{code},'%')  
  	</if>
  	 <if test="indexCode != null">
  	 	and disease.index_code like CONCAT('%',#{indexCode},'%') 
  	</if>
  </select>
  
  <select id="selectCountByPrimaryKey" resultType="java.lang.Integer" parameterType="java.lang.String">
  	  	select count(code) from std_disease where code=#{code}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
  	  	select code,name,en_name,
  	  		alias_name,alias_name_index,index_code,
  	  		fit_man_code_flag,fit_woman_code_flag,un_death_flag,
  	  		un_primary_flag,clinical_diag,clinical_diag_index,
  	  		attention_flag,attention_comment,std_region_code,
  	  		std_province_code,international_disease_version,
  	  		status,comment
  	  	from std_disease where code=#{code}
  </select>
  
  <insert id="insert" parameterType="com.kurumi.pojo.StdDisease" >
  		insert into std_disease
  	  <trim prefix="(" suffix=")" suffixOverrides="," >
        code,
        name,
        en_name,
        index_code,
        alias_name,
        alias_name_index,
       	fit_man_code_flag,
       	fit_woman_code_flag,
       	un_death_flag,
       	un_primary_flag,
        clinical_diag,
        clinical_diag_index,
        attention_flag,
        attention_comment,
        std_region_code,
        std_province_code,
        international_disease_version,
       	comment,
        status,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     
        #{code,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{enName,jdbcType=VARCHAR},
        #{indexCode,jdbcType=VARCHAR},
        #{aliasName,jdbcType=VARCHAR},
        #{aliasNameIndex,jdbcType=VARCHAR},
       	#{fitManCodeFlag,jdbcType=CHAR},
       	#{fitWomanCodeFlag,jdbcType=CHAR},
       	#{unDeathFlag,jdbcType=CHAR},
       	#{unPrimaryFlag,jdbcType=CHAR},
        #{clinicalDiag,jdbcType=VARCHAR},
        #{clinicalDiagIndex,jdbcType=VARCHAR},
       	#{attentionFlag,jdbcType=CHAR},
        #{attentionComment,jdbcType=VARCHAR},
        #{regionCode,jdbcType=VARCHAR},
        #{provinceCode,jdbcType=INTEGER},
        #{interDiseaseVersion,jdbcType=VARCHAR},
        #{comment,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER},
    </trim>
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.kurumi.pojo.StdDisease" >
    update std_disease
    <set >
    	code = #{code,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        en_name = #{enName,jdbcType=VARCHAR},
        index_code = #{indexCode,jdbcType=VARCHAR},
    	fit_man_code_flag= #{fitManCodeFlag,jdbcType=CHAR},
    	fit_woman_code_flag= #{fitWomanCodeFlag,jdbcType=CHAR},
    	un_death_flag= #{unDeathFlag,jdbcType=CHAR},
    	un_primary_flag= #{unPrimaryFlag,jdbcType=CHAR},
        clinical_diag= #{clinicalDiag,jdbcType=VARCHAR},
        clinical_diag_index= #{clinicalDiagIndex,jdbcType=VARCHAR},
      	alias_name= #{aliasName,jdbcType=VARCHAR},
        alias_name_index= #{aliasNameIndex,jdbcType=VARCHAR},
       	attention_flag= #{attentionFlag,jdbcType=CHAR},
        attention_comment= #{attentionComment,jdbcType=VARCHAR},
        std_region_code= #{regionCode,jdbcType=VARCHAR},
        std_province_code= #{provinceCode,jdbcType=INTEGER},
        international_disease_version= #{interDiseaseVersion,jdbcType=VARCHAR},
        comment= #{comment,jdbcType=VARCHAR},
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  
 <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from std_disease where code=#{code}
  </delete>
</mapper>