<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kurumi.mapper.StdDiagnosisRc020Icd10Mapper" >
  <resultMap id="diagnosisIcd" type="com.kurumi.pojo.StdDiagnosisRc020Icd10" >
    <id column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="en_name" property="enName" jdbcType="VARCHAR" />
    <result column="alias_name" property="aliasName" jdbcType="VARCHAR" />
    <result column="alias_name_index" property="aliasNameIndex" jdbcType="VARCHAR" />
    <result column="index_code" property="indexCode" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <select id="getStdDiagnosisRc020Icd10s" resultMap = "diagnosisIcd" parameterType="com.kurumi.query.BasicDataQuery">
  	select * from std_diagnosis_rc020_icd10 disease where 1=1
  	<if test="name!=null">
  	 	and disease.name like CONCAT('%',#{name},'%')  
  	</if>
  	 <if test="code != null">
  	 	and disease.code like CONCAT('%',#{code},'%')  
  	</if>
  	 <if test="indexCode != null">
  	 	and disease.index_code like CONCAT('%',#{indexCode},'%') 
  	</if>
  	 limit #{currentStartNum},#{pageSize}
  </select>
  
   <select id="getCountByParams" parameterType="com.kurumi.query.BasicDataQuery" resultType="java.lang.Integer">
  	select count(*) from std_diagnosis_rc020_icd10 disease  where 1=1
   	<if test="name!=null">
  	 	and disease.name like CONCAT('%',#{name},'%')  
  	</if>
  	 <if test="code != null">
  	 	and disease.code like CONCAT('%',#{code},'%')  
  	</if>
  	 <if test="indexCode != null">
  	 	and disease.index_code like CONCAT('%',#{indexCode},'%') 
  	</if>
  </select>

  <select id="selectByPrimaryKey" resultMap="diagnosisIcd" parameterType="java.lang.String">
  	  	select * from std_diagnosis_rc020_icd10 where code=#{code}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from std_diagnosis_rc020_icd10
    where code = #{code,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.kurumi.pojo.StdDiagnosisRc020Icd10" >
    insert into std_diagnosis_rc020_icd10
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="enName != null" >
        en_name,
      </if>
      <if test="aliasName != null" >
        alias_name,
      </if>
      <if test="aliasNameIndex != null" >
        alias_name_index,
      </if>
      <if test="indexCode != null" >
        index_code,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="aliasNameIndex != null" >
        #{aliasNameIndex,jdbcType=VARCHAR},
      </if>
      <if test="indexCode != null" >
        #{indexCode,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.kurumi.pojo.StdDiagnosisRc020Icd10" >
    update std_diagnosis_rc020_icd10
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enName != null" >
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        alias_name = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="aliasNameIndex != null" >
        alias_name_index = #{aliasNameIndex,jdbcType=VARCHAR},
      </if>
      <if test="indexCode != null" >
        index_code = #{indexCode,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  
</mapper>